/Makefile.inc
/coq/*.vo
/coq/*.glob
/coq/depend
/coq/TAGS
/coq/.*.aux
/rules/*.aux
/rules/*.dvi
/rules/*.log
/rules/*.pdf
/rules/*.md
/ipp/.cm
/ipp/bin/ipp-heapimg*
/ipp/bin/ipp
/basis/.cm
/cmlibi/cmlib.make
/cmlibi/cmlib.cm
/cmlibi/.cm
/prover/prover.cm
/prover/prover.make
/prover/.cm
/prover/trusted/.cm
/ui/bin/istari
/ui/bin/istari-nolib
/ui/bin/istari-heapimg*
/ui/bin/istari-nolib-heapimg*
/ui/bin/istarisrv-heapimg*
/ui/bin/istarisrv-nolib-heapimg*
/ui/bin/procdoc
/ui/bin/procdoc-heapimg*
/ui/bin/istaritags
/ui/bin/istaritags-heapimg*
/ui/istari.elc
/ui/.cm
/rulegen/.cm
/core/*.isto
/core/TAGS
/library/*.isto
/library/TAGS
/test/*.isto
*.iml.sml
*.sml.sml
*.ipc.sml
*.iml-ml
*.sml-ml
*.ipc-ml
*.cmi
*.cmo
*.cma
*.ipds
*.ipdo
